{% extends "layout.html" %}
{% block title %}Welcome To{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
<div class="about">
<h2>About Us</h2>
<h3>Books are referred to as a man’s best friend. They are very beneficial for mankind and have helped it evolve.
     There is a powerhouse of information and knowledge. Books offer us so many things without 
    asking for anything in return. Books leave a deep impact on us and are responsible for uplifting our mood.
    This is why we suggest children read books from an early age to gain knowledge.
     The best part about books is that there are various types of books. One can read any type to gain different types of knowledge. Reading must be done by people of all ages.
     It not only widens our thinking but also enhances our vocabulary.
     YourBooks is a social cataloging website that allows individuals to search freely its database of books, annotations, and reviews. Users can sign up 
     and register books to generate library catalogs and reading lists. </h3>
    </div>
{% endblock %}