@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,600i,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#logo {
  position: absolute;
  top: 2%;
  left: 3%;
}

body {
  height: 100%;
  width: 100%;
}
body h1 {
  position: absolute;
  top: 1.5%;
  left: 5.5%;
  color: #A9A9A9;
  font-weight: 500;
}

#content h1 {
  font-size: xx-large;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: #A9A9A9;
}

.butts {
  display: flex;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -48%);
}
.butts button {
  display: block;
  border: 1px solid #A9A9A9;
  padding: 5px;
  width: 100px;
  background-color: transparent;
  color: #A9A9A9;
  margin: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}
.butts button:hover {
  color: black;
  background-color: #A9A9A9;
  transition: 0.5s ease;
}

#footer {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -5%);
  color: #A9A9A9;
  text-align: center;
}

.nav {
  position: absolute;
  top: 3.5%;
  right: 2.5%;
}
.nav li {
  list-style: none;
}
.nav li a {
  text-decoration: none;
  color: #A9A9A9;
  display: block;
  border: 1px solid #A9A9A9;
  padding: 5px;
  transition: 0.5s ease;
  cursor: pointer;
  font-size: small;
}
.nav li a:hover {
  color: black;
  background-color: #A9A9A9;
  transition: 0.5s ease;
}

#drop-content {
  position: absolute;
  top: 10%;
  right: 2.5%;
}
#drop-content form {
  animation-name: opaque;
  animation-duration: 2s;
  background-color: lightgrey;
  display: inline-flex;
  border: 1px solid lightgray;
  flex-direction: column;
  padding: 20px;
}
#drop-content form label {
  color: black;
}
#drop-content form button {
  margin: 10px auto auto auto;
  display: block;
  width: 35%;
  background-color: lightgrey;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.5s ease;
}
#drop-content form button:hover {
  color: lightgrey;
  background-color: black;
  transition: 0.5s ease;
}

.navz {
  position: absolute;
  top: 3.5%;
  right: 2.5%;
}
.navz li {
  list-style: none;
}
.navz li a {
  text-decoration: none;
  color: black;
  display: block;
  border: 1px solid #A9A9A9;
  background-color: #A9A9A9;
  padding: 5px;
  cursor: pointer;
  font-size: small;
}

@keyframes opaque {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.book-details {
  color: #A9A9A9;
  position: absolute;
  top: 8%;
  left: 3%;
}
.book-details ul li {
  list-style: none;
}

.reviews {
  color: #A9A9A9;
}
.reviews .comments {
  position: absolute;
  top: 42.5%;
  left: 5%;
}
.reviews .comments ol li {
  color: #A9A9A9;
}
.reviews h1 {
  position: absolute;
  top: 35%;
  left: 3%;
}

.review-details form {
  position: absolute;
  top: 24%;
  left: 3%;
  display: inline-flex;
}
.review-details form input {
  height: 3em;
  display: block;
  border: 1px solid #A9A9A9;
  background-color: transparent;
  margin: auto 10px auto auto;
}
.review-details form button {
  display: block;
  border: 1px solid #A9A9A9;
  color: #A9A9A9;
  background-color: transparent;
  padding: 5px;
  transition: 0.5s ease;
  margin: auto auto auto 10px;
  cursor: pointer;
}
.review-details form button:hover {
  color: black;
  background-color: #A9A9A9;
  transition: 0.5s ease;
}

.goodreads {
  position: absolute;
  top: 70%;
  left: 3%;
  border: 2px solid #A9A9A9;
  padding: 10px;
  color: #A9A9A9;
}
.goodreads h4, .goodreads h6 {
  font-weight: 400;
}

.about h3 {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(-1%, -50%);
  color: #A9A9A9;
  font-weight: 400;
}
.about h2 {
  position: absolute;
  top: 30%;
  left: 1%;
  transform: translate(-1%, -30%);
  color: #A9A9A9;
}

/*# sourceMappingURL=project.css.map */
